@quillbot:registry=https://asia-south1-npm.pkg.dev/manipaluniversity-e4412/quillbot-demo-project/
//asia-south1-npm.pkg.dev/manipaluniversity-e4412/quillbot-demo-project/:_password=""
//asia-south1-npm.pkg.dev/manipaluniversity-e4412/quillbot-demo-project/:username=oauth2accesstoken
//asia-south1-npm.pkg.dev/manipaluniversity-e4412/quillbot-demo-project/:email=not.valid@email.com
//asia-south1-npm.pkg.dev/manipaluniversity-e4412/quillbot-demo-project/:always-auth=true